<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/Code/static/css/styles.css">
</head>

<body>
    <main class="container-unterseiten">
        <h1>Impressum</h1>
         <section class="company-details">
            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                Cb sei Gang<br>
                Marienstraße 20<br>
                89518 Heidenheim an der Brenz<br>
            </p>
        </section>
        <section class="contact">
            <h2>Kontakt</h2>
            <p>
                Telefon: +49 (0) 123 456 789<br>
                E-Mail: <a href="mailto:info@jbaum.de">info@jbaum.de</a>
            </p>
        </section>
        <section class="responsibility">
            <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
            <p>
                Cb sei Gang<br>
                Marienstraße 20<br>
                89518 Heidenheim an der Brenz<br>
            </p>
        </section>
        <section class="disclaimer">
            <h2>Haftungsausschluss</h2>
            <p>
                Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und 
                Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
            </p>
        </section>
    </main>
    <footer class="footer">
    <p>&copy; 2025 CB sei Gang. All rights reserved.</p>
    <ul class="footer-links">
         <li><a href="/Code/templates/index.html" target="_blank">Home</a></li>
        <li><a href="/Code/templates/datenschutz.html" target="_blank">Datenschutzhinweise</a></li>
        <li><a href="/Code/templates/impressum.html" target="_blank">Impressum</a></li>
        <li><a href="/Code/templates/kontakt.html" target="_blank">Kontakt</a></li>
    </ul>
    </footer>
</body>
</html>