<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Transcription and Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Zur Entwicklung <link rel="stylesheet" href="/code/static/styles.css"> -->
</head>

<body>
    <div class="container">
        <h1>Audio Transcription and Summary</h1>
        <section class="upload-section">
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <label for="audio-file">Upload an audio file (.mp3 or .wav):</label>
                <input type="file" id="audio-file" name="audio-file" accept=".mp3, .wav">
                <button type="submit">Upload</button>
            </form>
        </section>

        <section class="record-section">
            <h2>Or record your audio:</h2>
            <div class="record-buttons">
                <button id="record-button">Record</button>
                <button id="stop-button" disabled>Stop</button>
            </div>
            <audio id="audio-playback" controls></audio>
            <form id="record-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="hidden" id="recorded-audio" name="recorded-audio">
                <button type="submit" id="submit-recording" disabled>Submit Recording</button>
            </form>
        </section>

    
        <h1>Transcription and Summary</h1>
        <section class="result-section">
            <div class="transcription-section">
                <h2>Transcription:</h2>
                <div id="transcription" class="result-box"></div>
            </div>
        </section>

        <script>
            document.getElementById('upload-form').addEventListener('submit', handleFormSubmit);
            document.getElementById('record-form').addEventListener('submit', handleFormSubmit);

            function showLoading() {
                document.getElementById('loading').style.display = 'block';
                let width = 0;
                const interval = setInterval(() => {
                    if (width >= 100) {
                        clearInterval(interval);
                    } else {
                        width++;
                        document.getElementById('loading-bar').style.width = width + '%';
                    }
                }, 100);
            }

            function hideLoading() {
                document.getElementById('loading').style.display = 'none';
                document.getElementById('loading-bar').style.width = '0';
            }
        </script>


    </div>
</body>

</html>